<p>
    <small>
            <% if(comment.user.avatar) { %>
                <img src="<%= comment.user.avatar %>" alt="Img" style="width: 17px; border-radius: 50%;">

            <% } else { %>

                <i class="fas fa-user"></i>

            <% } %>


    </small>

    <span>
        <small>
            <%= comment.user.name %>
        </small>

        <br>
        <span id="comment-data">
            <%= comment.content %>
        </span>
        
        <% if(locals.user && locals.user.id == comment.user.id) { %>

            <small>
                <a href="/comments/destroy/<%= comment.id %>">
                    <i class="fas fa-trash-alt" id="deleteicon2"></i>

                </a>
            </small>

        <% } %>
        
    </span>
    
</p>