<footer>
    <div id="first-div">
        <span>
            <i>&copy;</i>
        </span>
        <span>
            Coding Ninjas. All Rights Reserved
        </span>
    </div>

    <div id="second-div">
        <div>
            <a href="/">Home</a>
        </div>

        <% if(locals.user) { %>
        
        <div>
            <a href="/users/profile/<%= user._id %>">Profile</a>
        </div>

        <% } else { %>

        <div>
            <a href="/users/sign-in">Profile</a>
        </div>

        <% } %>
    </div>
</footer>