<script src="https://kit.fontawesome.com/69891a8400.js" crossorigin="anonymous"></script>
<footer>
    <div id="first-div">
        <span>
            <i class="fa-solid fa-registered"></i>
        </span>
        <span>
            Coding Ninjas. All Rights Reserved
        </span>
    </div>

    <div id="second-div">
        <div>
            <a href="/">Home</a>
        </div>
        <div>
            <a href="/users/profile">Profile</a>
        </div>
    </div>
</footer>