<header id="page-header">

    <p id="first-para">
        <a href="/">codeial</a>
    </p>

    <div id="second-para">
        <ul>
            <% if(locals.user){ %>

                <li>
                    <a href="/users/profile/<%= user._id %>" >
                        
                        <% if(user.avatar) { %>
                        
                            <img src="<%= user.avatar %>" alt="<%= user.name %>" style="width: 17px; border-radius: 50%;">
                        
                        <% } else { %>

                            <i class="fas fa-user"></i>

                        <% } %>
                        
                        <%= user.name %>
                    </a>
                </li>
                <li>
                    <a href="/users/sign-out">SignOut</a>
                </li>
                <% } else { %>
                    <li>
                        <a href="/users/sign-in">SignIn</a>
                    </li>

                    <li>
                        <a href="/users/sign-up">SignUp</a>
                    </li>

                <% } %>
        </ul>
    </div>

</header>