
<div id="form-div">

   
    <h1>Sign In</h1>

    <form action="/users/create-session" method="post">
    
        <div>
            <input type="email" name="email" placeholder="Email" required>
        </div>
        <div>
            <input type="password" name="password" placeholder="Password" required>
            
        </div>

        <div id="submit-button">
            <input type="submit" value="Sign In" >
            
        </div>

        <p>or</p>
    
        <div id ="google-sign-in-button">
            <i class="fab fa-google" ></i>
            <a href="/users/auth/google">Login with Google</a>
        </div>
    
    </form>

</div>

