
<div id="sign-up-form-div">
    <h1>Sign Up</h1>

    <form action="/users/create" method="post">
    
        <div>
            <input type="text" name="name" placeholder="Your Name" required>
        </div>
        
        <div>
            <input type="email" name="email" placeholder="Your Email" required>
        </div>
        
        <div>
            <input type="password" name="password" placeholder="Your Password" required>
        </div>
        
        <div>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        </div>
        
        <div id="submit-button">
            <input type="submit" value="Sign Up" >
        </div>
        
        <p>or</p>

        <div id ="google-sign-up-button">
            <i class="fab fa-google" id="google-icon"></i>
            <a href="/users/auth/google">Register with Google</a>
        </div>
    
    
    </form>
</div>
