<link rel="stylesheet" href="/css/sign-in.css">

<div id="form-div">

   
    <h1>Sign In</h1>

    <form action="/users/create-session" method="post">
    
        <div>
            <input type="email" name="email" placeholder="Email" required>
        </div>
        <div>
            <input type="password" name="password" placeholder="Password" required>
            
        </div>
        <div>
            <input type="submit" value="Sign In" id="submit-button">
            
        </div>
    
    
    </form>

</div>
