#user-chat-box{
    position: fixed;
    bottom: 10px;
    right: 8px;
    border: 1px solid black;
    height: 350px;
	width: 300px;
	// background: white;
    background-image: linear-gradient(to top, #9a83ec, #b4f4f4 45%);
	padding: 5px;
	box-shadow: 1px 1px 1px 1px lightgrey;
    border-radius: 0.5rem;

    #chat-messages-list{
    	list-style: none;
	    padding: 10px;
	    height: 70%;
	    // background-color: white;
	    overflow: auto;

	    .other-message{
		    text-align: left;
		    padding: 5px;
		    span{
		    	display: inline-block;
                border-radius: 1rem;
	    		padding: 15px;
		    	background-color: #ffa0a0;
		    }
		    
	    }

	    .self-message{
		    text-align: right;
		    padding: 5px;
		   
		    span{
                border-radius: 1rem;
	    		display: inline-block;
	    		padding: 15px;
    			background-color: #a0dcff;
		    }
		   
	    }

    }
    #chat-message-input-container{
    	    height: 24%;
		    width: 100%;
		    display: flex;
		    flex-direction: row;

		    #chat-message-input{
	    	    height: 50%;
    			width: 70%;
                border-radius: 0.4rem;
                margin:0.1rem;

		    }

		    #send-message{
	    	    height: 50%;
			    width: 30%;
			    font-size: 25px;
			    color: white;
			    border: none;
			    background: #58d258;
                border-radius: 0.4rem;


                &:hover
                {
                    background-color: #abdbab;
                    color:#088508
                }
		    }
	    }
}
