footer
{
    background-color: rgb(23, 23, 54);
    color: white;
    font-size: 1.5rem;
    display: flex;
    padding:1rem;

    div
    {
        margin-right:2%;

    }

    #first-div,span,i
    {
        background-color: transparent;
        color:white;
    }

    #second-div,div,a
    {
        text-decoration: none;
        color: white;

        &:hover
        {
            color:rgb(151, 127, 138);
            transition: 0.5s;
        }
    }

}

