body
{
    margin:0;
    
    #main-body
    {
        margin-top:-1.4rem;
        height: 90%;
        background: linear-gradient(to right, #4f4f8a, #a4a4ab 55%);
        opacity: 0.98;
    }
    /* text-align: center; */
}