body
{
    margin:0rem;
    
    #main-body
    {
        min-height: 90%;
        height: auto !important;
        background: linear-gradient(to right, #ededed, #aec3ca 55%);
        opacity: 0.98;
        padding:0.1rem;
    }
}