body {
    position: relative;
}

#form-div {
    border: 2px solid black;
    box-shadow: 5px 10px 5px 5px #151313;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    height: 70%;
    background: linear-gradient(to bottom, rgb(215, 133, 147), rgb(115, 106, 170) 60%);
    

    top: 10%;
    left: 35%;


    form {

        
        input {
            margin: 1rem;
            font-size: 2rem;
            font-family: serif;
            border: none;
            border-radius: 1rem;
            background-color: rgb(220, 229, 232);
            box-shadow: 3px 3px 2px #151313;

        }
    }

    #submit-button {
        padding: 0.5rem;
        font-weight: 700;
        font-size: 3rem;
        color: white;
        margin-top: 5rem;
        background-color: #39394c;

        &:hover {
            color: rgb(196, 90, 138);
            background-color: rgb(74, 81, 107);
            transition: 0.5s;
        }
    }
}