#user-chat-box {
  position: fixed;
  bottom: 10px;
  right: 8px;
  border: 1px solid black;
  height: 350px;
  width: 300px;
  background-image: linear-gradient(to top, #9a83ec, #b4f4f4 45%);
  padding: 5px;
  box-shadow: 1px 1px 1px 1px lightgrey;
  border-radius: 0.5rem; }
  #user-chat-box #chat-messages-list {
    list-style: none;
    padding: 10px;
    height: 70%;
    overflow: auto; }
    #user-chat-box #chat-messages-list div {
      text-align: center !important;
      font-weight: 900;
      margin-top: -0.5rem;
      font-size: 1.3rem;
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin-bottom: 0.2rem; }
    #user-chat-box #chat-messages-list .other-message {
      text-align: left;
      padding: 5px; }
      #user-chat-box #chat-messages-list .other-message span {
        display: inline-block;
        border-radius: 1rem;
        padding: 15px;
        background-color: #ffa0a0; }
    #user-chat-box #chat-messages-list .self-message {
      text-align: right;
      padding: 5px; }
      #user-chat-box #chat-messages-list .self-message span {
        border-radius: 1rem;
        display: inline-block;
        padding: 15px;
        background-color: #a0dcff; }
  #user-chat-box #chat-message-input-container {
    height: 24%;
    width: 100%;
    display: flex;
    flex-direction: row; }
    #user-chat-box #chat-message-input-container #chat-message-input {
      height: 50%;
      width: 70%;
      border-radius: 0.4rem;
      margin: 0.1rem; }
    #user-chat-box #chat-message-input-container #send-message {
      height: 50%;
      width: 30%;
      font-size: 25px;
      color: white;
      border: none;
      background: #58d258;
      border-radius: 0.4rem; }
      #user-chat-box #chat-message-input-container #send-message:hover {
        background-color: #abdbab;
        color: #088508; }
