footer {
  background-color: #171736;
  color: white;
  font-size: 1.5rem;
  display: flex;
  padding: 1rem; }
  footer div {
    margin-right: 2%; }
  footer #first-div, footer span, footer i {
    background-color: transparent;
    color: white; }
  footer #second-div, footer div, footer a {
    text-decoration: none;
    color: white; }
    footer #second-div:hover, footer div:hover, footer a:hover {
      color: #977f8a;
      transition: 0.5s; }
