#page-header {
  display: flex;
  background-color: #171736;
  color: white;
  font-size: 1.7rem;
  line-height: 0.8rem;
  justify-content: space-between;
  margin: 0rem; }
  #page-header #first-para {
    margin-left: 0.5rem; }
    #page-header #first-para a {
      text-decoration: none;
      color: white;
      cursor: pointer; }
  #page-header #second-para {
    display: flex;
    justify-content: space-between; }
    #page-header #second-para ul li {
      display: inline;
      margin-right: 0.5rem; }
      #page-header #second-para ul li a {
        text-decoration: none;
        color: white;
        background-color: #0c1c39; }
        #page-header #second-para ul li a:hover {
          color: #977f8a;
          transition: 0.5s; }
