#page-header {
  display: flex;
  background-color: #171736;
  color: white;
  font-size: 1.7rem;
  line-height: 0.8rem;
  justify-content: space-between;
  margin: 0rem; }
  #page-header #first-para {
    margin-left: 0.5rem;
    width: 70%;
    font-size: 2rem; }
  #page-header #second-para li, #page-header ul li {
    display: inline-block;
    margin-right: 0.8rem; }
    #page-header #second-para li a, #page-header ul li a {
      text-decoration: none;
      color: white; }
      #page-header #second-para li a:hover, #page-header ul li a:hover {
        color: #977f8a;
        transition: 0.5s; }
