body {
  margin: 0rem; }
  body #main-body {
    min-height: 90%;
    height: auto !important;
    background: linear-gradient(to right, #4f4f8a, #a4a4ab 55%);
    opacity: 0.98;
    padding: 0.1rem; }
